<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace 目前可以自定义要唯一，将来面向接口编程时对应dao接口，一 接口，一
个 个mapper 相当于一个dao 接口的实现类 -->
<mapper namespace="com.jxd.dao.ICourseselDao">
<insert id="addCoursesel">
    insert into coursesel(courseId,classId) values (#{courseId},#{classId})
</insert>
    <select id="getCourseIdById" resultType="com.jxd.model.Coursesel">
        select courseId from coursesel where classId=#{classId}
    </select>
    <update id="updateCoursesel">
        update coursesel set courseId=#{courseId} and classId=#{classId} where courseselId=#{courseselId}
    </update>
    <select id="getCourseselIdById" resultType="com.jxd.model.Coursesel">
        select courseselId from coursesel where classId=#{classId} and courseId=#{courseId}
    </select>
    <delete id="delCourseselById">
        delete from coursesel where classId=#{classId}
    </delete>
</mapper>