<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace 目前可以自定义要唯一，将来面向接口编程时对应dao接口，一 接口，一个mapper 相当于一个dao 接口的实现类 -->
<mapper namespace="com.jxd.dao.ISassessDao">
    <sql id="BaseSql">
        select saId,studentId,classId,state,evaluate,assess from sassess
    </sql>

    <!--通过用户id获取用户-->
    <select id="getUserById" resultType="User">
        select userName from user where userId = #{userId}
    </select>

   <!-- 根据学生id获取评价-->
    <select id="getSassessByStuId" resultType="Sassess">
        <include refid="BaseSql"></include>
        where studentId=#{studentId}
    </select>

    <!--根据评价id获取评价-->
    <select id="getSassessById" resultType="Sassess">
        <include refid="BaseSql"></include>
        where saId=#{saId}
    </select>

    <!--获取评价表中所有评价-->
    <select id="getAllAssess" resultType="Map">
        select st.studentId studentId,st.studentName studentName,c.classId classId,c.clazz clazz,c.teacherName teacherName,sa.saId saId,sa.state state,sa.evaluate evaluate,sa.assess assess
        from (student st left join clazz c on st.classId = c.classId)
        left join sassess sa on st.studentId = sa.studentId
        <where>
            <if test="studentName != null and studentName !=''">
                studentName like '%' #{studentName} '%'
            </if>

            <if test="classId != null and classId !=''">
                AND c.classId=#{classId}
            </if>
            <if test="userName != null and userName !=''">
                AND teacherName=#{userName}
            </if>
        </where>
    </select>

    <!--分页获取评价表中的评价-->
    <select id="getAssessByPage" resultType="Map">
        select st.studentId studentId,st.studentName studentName,c.classId classId,c.clazz clazz,c.teacherName teacherName,sa.saId saId,sa.state state,sa.evaluate evaluate,sa.assess assess
        from (student st left join clazz c on st.classId = c.classId)
        left join sassess sa on st.studentId = sa.studentId
        <where>
            <if test="studentName != null and studentName !=''">
                studentName like '%' #{studentName} '%'
            </if>

            <if test="classId != null and classId !=''">
                AND c.classId=#{classId}
            </if>
            <if test="userName != null and userName !=''">
                AND teacherName=#{userName}
            </if>
        </where>
        limit #{count},#{page}
    </select>

   <!--增加评价-->
    <insert id="addSassess">
        insert into sassess(studentId,classId,state,evaluate,assess)
        values (#{studentId},#{classId},1,#{evaluate},#{assess})
    </insert>

   <!-- 修改评价-->
    <update id="editSassess">
        update sassess
        set evaluate=#{evaluate},assess=#{assess}
        where saId=#{saId}
    </update>
</mapper>