<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace 目前可以自定义要唯一，将来面向接口编程时对应dao接口，一 接口，一
个 个mapper 相当于一个dao 接口的实现类 -->
<mapper namespace="com.jxd.dao.IScoreDao">
    <!--修改成绩-->
    <update id="editScore">
        update score set score=#{score}
        where studentId=#{studentId} and courseId=#{courseId}
    </update>

    <!--添加成绩-->
    <insert id="addScore" >
        insert into score(studentId,courseId,score)
        values (#{studentId},#{courseId},#{score})
    </insert>

    <!--获取一条成绩数据-->
    <select id="getScore" resultType="Score">
        select studentId,courseId,score from score
        where studentId=#{studentId} and courseId=#{courseId}
    </select>

    <!--通过老师姓名获得老师班期-->
    <select id="getClazzListByTchName" resultType="Clazz">
    select classId,clazz,teacherName from clazz where teacherName=#{teacherName} order by classId desc
    </select>

    <!--通过班期id获取本班期的所有课程-->
    <select id="getAllCourseByClassId" resultType="Map">
        select cs.courseId courseId,cs.classId classId,co.courseName courseName
        from course co right join coursesel cs on co.courseId = cs.courseId  where cs.classId=#{classId}
    </select>

    <!--根据学生id获取该学生的所有成绩信息-->
    <select id="getScoreByStuId" resultType="Map">
        select co.courseId courseId,co.courseName courseName,s.score score
        from ((course co left join coursesel cs on co.courseId = cs.courseId ) left join score s on co.courseId=s.courseId)
        where s.studentId=#{studentId} and cs.classId=#{classId}
    </select>

    <!--分页获取学生-->
    <select id="getStudentPaging" resultType="Student">
        <include refid="BaseSql"></include>
        <where>
            <if test="studentName != null and studentName != ''">
                studentName like '%' #{studentName} '%'
            </if>
            <if test="classId != null and classId != ''">
                AND classId=#{classId}
            </if>
        </where>
        order by studentId desc
        limit #{count},#{pageSize}
    </select>

    <!--获取全部学生-->
    <select id="getAllStudent" resultType="Student">
        <include refid="BaseSql"></include>
        <where>
            <if test="studentName != null and studentName != ''">
                studentName like '%' #{studentName} '%'
            </if>
            <if test="classId != null and classId != ''">
                AND classId=#{classId}
            </if>
        </where>
    </select>

    <sql id="BaseSql">
        select studentId,studentName,sex,nation,birthday,homeTown,marriage,phone,identityNum,graduate,major,photo,classId,managerId,departmentId,jobId,hiredate,remarks from student
    </sql>
</mapper>